body, html {
    height:100%;
      background: #ffffff;
        overflow-x: hidden;
      font-family: 'Dosis', sans-serif;
      border-radius: 12px;
  }
  
  btn {
      border-radius: 12px
  
    
  }
  .btn:focus, .btn:active, .btn.active, .btn:active:focus {
      outline: 0;
    border-radius: 12px;
  }
  
  
  
  .btn-larger {
      padding: 15px 40px !important;
      border:2px solid rgb(239,79,95) !important;;
      border-radius: 12px !important;;
      text-transform: uppercase;
      font-family: 'Dosis', sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: rgb(239,79,95);
      background-color: transparent;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
    
  
  }
  .btn-larger:hover, .btn-larger:focus, .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
      border-color: rgb(239,79,95);
      color: #fff;
      background-color: rgb(239,79,95);
    border-radius: 12px;
  }
  .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
      background-image: none;
  }
  .btn-larger.disabled, .btn-larger[disabled], fieldset[disabled] .btn-larger, .btn-larger.disabled:hover, .btn-larger[disabled]:hover, fieldset[disabled] .btn-larger:hover, .btn-larger.disabled:focus, .btn-larger[disabled]:focus, fieldset[disabled] .btn-larger:focus, .btn-larger.disabled:active, .btn-larger[disabled]:active, fieldset[disabled] .btn-larger:active, .btn-larger.disabled.active, .btn-larger[disabled].active, fieldset[disabled] .btn-larger.active {
      border-color: #AEA8D3;
      background-color: #AEA8D3;
  }
  .btn-larger .badge {
      color: #AEA8D3;
      background-color: #fff;
  }
  
  div#form {
      color: #fff;
      background-attachment: scroll;
      background-image: url('../assets/canteen.jpg');
      background-position: center center;
      background-repeat: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    min-height:100%;
  
  }
  
  #userform p {
      font-size: 14px;
      margin-bottom: 5px;
  }
  #userform ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0px;
      border-radius: 12px;
      
  }




  #userform {
    background: rgb(255, 255, 255);
    margin: 20px 0 20px 0;
    border-radius: 12px; /* Adding a 20px curve to the corners */
}

@media (min-width: 768px) {
    #userform {
        background: rgb(255, 255, 255);
        margin: 130px 0 20px 0;
        border-radius: 12px; /* Ensuring the curve applies to larger screens as well */
    }
}

  #userform .nav-tabs.nav-justified > li > a {
      text-transform: uppercase;
      font-size: 20px;
      color: rgb(239,79,95);
      background-color: rgba(178, 178, 178, 0.5);
  }
  #userform .nav-tabs.nav-justified > .active > a, #userform .nav-tabs.nav-justified > .active > a:hover, #userform .nav-tabs.nav-justified > .active > a:focus {
      border: 0;
      background: rgb(239,79,95);
      color: white;
      border-radius: 12px;
  }
  #userform .nav-justified > li > a {
      margin-bottom: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
  }
  #userform .nav-justified > li > a:hover {
      background: #AEA8D3;
      color: #FFF;
  }
  #userform .nav-tabs > li > a {
      border: 0px solid transparent;
      border-radius: 12px
  }
  #userform .nav-tabs.nav-justified > li > a:hover {
      background: rgb(239,79,95);
      color: #FFF;
      border-radius: 12px;
      border: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
  }
  #userform .nav-tabs > li.active > a, #userform .nav-tabs > li.active > a:hover, #userform .nav-tabs > li.active > a:focus {
      color: rgb(239,79,95);
      cursor: default;
      background-color: transparent;
      border: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
  }




  @media (min-width: 768px) {
    #userform .nav-tabs.nav-justified > li > a {
        border: 0;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        transition: all .6s;
    }
    #userform .nav-tabs.nav-justified > li > a:hover {
        background-color: rgb(239,79,95);
        border-color: transparent;
        border: 0;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        transition: all .6s;
    }
  }
  
  @media (max-width: 768px) {
    .nav-justified > li {
        display: table-cell !important;
        width: 1% !important;
    }
  }
  
  #userform .nav-tabs {
      border-bottom: 0px solid #ddd;
  }
  
  #userform .tab-pane h2 {
      margin: 10px 0;
      color: rgb(239,79,95); /* Set the "Sign up for free" and "Log in" text to black */
  }
  
  #userform .tab-pane p.lead {
      margin-top: 20px;
  }
  
  #userform .tab-content {
      padding: 20px;
  }
  
  #userform .form-group {
      margin-bottom: 0px;
      color: #FFF;
  }
  
  #userform .form-group input,
  #userform .form-group textarea {
      padding: 10px;
  }
  
  #userform .form-group input.form-control {
      height: auto;
      background-color: rgba(237, 235, 250, 0.1);
      color: rgb(239,79,95);; /* Ensure text inside input fields is black */
  }
  





  #userform .form-control {
    border-radius: 12px;
    border: 1px solid rgb(239,79,95);
    color: rgb(239,79,95);; /* Text inside the text box */
}

#userform .form-control:focus {
    border-color: rgb(239,79,95);
    box-shadow: none;
    color: rgb(239,79,95);; /* Ensures focused text remains black */
    caret-color: rgb(239,79,95);; /* Sets blinking cursor to black */
}

#userform::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: rgb(239,79,95); /* Placeholder text inside the text box */
}

#userform:-moz-placeholder { 
    color: rgb(239,79,95); /* Firefox placeholder text */
}

#userform::-moz-placeholder { 
    color: rgb(239,79,95); /* Firefox placeholder text */
}

#userform:-ms-input-placeholder { 
    color: rgb(239,79,95); /* IE placeholder text */
}

#userform #signup .form-group label {
    position: relative;
    -webkit-transform: translateY(35px); /* Safari and Chrome */
    -ms-transform: translateY(35px); /* IE */
    transform: translateY(35px); /* Standard */
    left: 10px;
    top: -30px;
    color: rgb(239,79,95); /* Text above text boxes */
    -webkit-transition: all 0.25s ease; /* Safari and Chrome */
    transition: all 0.25s ease; /* Standard */
    -webkit-backface-visibility: hidden; /* Safari and Chrome */
    backface-visibility: hidden; /* Standard */
    pointer-events: none;
    font-size: 12px;
    font-weight: 300;
}

#userform #signup .form-group label .req {
    margin: 2px;
    color: rgb(239, 79, 95);
}

#userform #signup .form-group label.active {
    -webkit-transform: translateY(0px); /* Safari and Chrome */
    -ms-transform: translateY(0px); /* IE */
    transform: translateY(0px); /* Standard */
    left: 2px;
    font-size: 12px;
}

#userform #signup .form-group label.active .req {
    opacity: 0;
}

#userform label.highlight {
    color: #ffffff;
}

#userform #login .form-group label {
    position: relative;
    -webkit-transform: translateY(35px); /* Safari and Chrome */
    -ms-transform: translateY(35px); /* IE */
    transform: translateY(35px); /* Standard */
    left: 10px;
    top: -30px;
    color: rgb(239,79,95); /* Text above text boxes */
    -webkit-transition: all 0.25s ease; /* Safari and Chrome */
    transition: all 0.25s ease; /* Standard */
    -webkit-backface-visibility: hidden; /* Safari and Chrome */
    backface-visibility: hidden; /* Standard */
    pointer-events: none;
    font-size: 12px;
    font-weight: 300;
}

#userform #login .form-group label .req {
    margin: 2px;
    color: rgb(239, 79, 95);
}

#userform #login .form-group label.active {
    -webkit-transform: translateY(0px); /* Safari and Chrome */
    -ms-transform: translateY(0px); /* IE */
    transform: translateY(0px); /* Standard */
    left: 2px;
    font-size: 12px;
}

#userform #login .form-group label.active .req {
    opacity: 0;
}

.mrgn-30-top {
    margin-top: 30px;
}

